:root {
  --off-white: azure;
  --lightest: #C9E4CA;
  --mid-light: #87BBA2;
  --middle: #55828B;
  --mid-dark: #3B6064;
  --darkest: #364958;
}

body {
  margin: 0;
  background-color: var(--off-white);
  color: var(--darkest);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a{
  text-decoration: none;
}

.favoriteList {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /* justify-content: space-evenly; */
  padding: 0 20px 0 20px;
  margin: 20px;
}

.favoriteList a {
  margin: 10px;

}

.favoriteList a {
  padding: 5px;
  margin: 15px;
  flex: 0;
}

.homepage-container {
  display: flex;
  flex-wrap: no-wrap; 
}

.homepage-container section {
  flex: 1 75%;
}

.gameList {
  flex: 1 25%;
}

.homepage-container2 {
  max-width: 100%;
}
/* .about {
  border: 2px;
}

.game-list {

} */


/*
.fav-btn {
  background-color: var(--middle);
  margin: 10px 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.nav {
  background-color: var(--darkest);
  color: var(--off-white);
}

.nav li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--off-white);
  font-weight: 600;
  padding: 2px 10px;
  margin-left: -2px;
  margin-right: -2px;
}

.about {
  border: 1px solid var(--darkest);
  margin: 10px;
  padding: 10px;
  width: 75%;
}


.gameList {
  border: 1px solid var(--darkest);
  margin: 10px;
  padding: 10px;
  width: 20%;
}

.gameList a {
  color: var(--darkest);
}

.game {
  border: 1px solid var(--darkest);
  margin: 10px;
  padding: 10px;
  width: 75%;
}

.discussion li {
  border: 1px solid var(--darkest);
  margin: 10px;
  padding: 10px;
  width: 90%;
  list-style: none;
}

button {
  color: var(--off-white);
  background-color: var(--mid-dark);
  border: none;
}

.store {
  border: 1px solid var(--darkest);
  margin: 10px;
  padding: 10px;
  width: 75%;
}

.product {
  margin: 10px;
}

.login-form,
.signup-form {
    border: 1px solid var(--mid-light);
    padding: 30px 30px 0 30px;;
    flex-wrap: wrap;
    justify-content: center;
    width: 20%;
    font-size: 20px;
    margin: 10px;
}

.login-form input,
.signup-form input {
    justify-content: center;
    width: 100%;
    line-height: 200%;
    margin: 5px 0 10px 0;
}

.login-form button,
.signup-form button {
    justify-content: center;
    width: 100%;
    font-size: 20px;
    margin-bottom: 10px;
}

.login-link,
.signup-link {
  color: var(--darkest);
}

.footer {
  background-color: var(--middle);
  color: var(--off-white);
  padding: 2px 10px;
}*/


/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */ 
@media screen and (max-width: 900px) {
  .favoriteList a {
    flex: 1 50%;
    padding: 5px;
    margin: 0 150px 0 150px;
  }
  
  .homepage-container section {
    flex: 1 75%;
  }
  
  .gameList {
    flex: 1 25%;
  }

}

/* MEDIA QUERY FOR TABLETS AND SMALLER  */
@media screen and (max-width: 768px) {
  .favoriteList a {
    margin: 0 80px 0 80px;
  }

  .homepage-container {
    display: flex;
    flex-wrap: wrap;
  }

  .homepage-container section {
    flex: 100%;
  }

   .homepage-container div {
    flex: 100%;
    text-align: center;
  }

  .homepage-container div ol {
    list-style: none;
  }
  
  /* .gameList {
    flex: 100%;
    align-content: center;
  } */

  .gameList h3 {
    text-align: left;
  }

}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
  .favoriteList a {
    margin: 0px;
  }

  .homepage-container2 h3 {
    text-align: center;
  }

  .homepage-container,
  .homepage-container section h1 {
    justify-content: center;
    text-align: center;
  }

  .gameList h3 {
    text-align: center;
    margin: 25px 0 25px 0;
  }
}