:root {
  --off-white: azure;
  --lightest: #C9E4CA;
  --mid-light: #87BBA2;
  --middle: #55828B;
  --mid-dark: #3B6064;
  --darkest: #364958;
}

body {
  margin: 0;
  background-color: var(--off-white);
  color: var(--darkest);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a{
  text-decoration: none;
}

.favoriteList {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0 20px 0 20px;
  margin: 20px;
}

.favoriteList div {
  margin: 10px 20px 10px 20px;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.left-side {
  border: 1px solid var(--mid-light);
  margin: 10px;
  padding: 10px;
  width: 75%;
}


.gameList {
  border: 1px solid var(--mid-light);
  margin: 10px;
  padding: 10px;
  width: 20%;
}

.gameList a {
  color: var(--darkest);
}

.discussion li {
  border: 1px solid var(--darkest);
  margin: 10px;
  padding: 10px;
  width: 90%;
  list-style: none;
}
