:root {
  --off-white: azure;
  --lightest: #C9E4CA;
  --mid-light: #87BBA2;
  --middle: #55828B;
  --mid-dark: #3B6064;
  --darkest: #364958;
}

body {
  width: 100vw;
  margin: 0;
  overflow-x: hidden;
  background-color: var(--off-white);
  color: var(--darkest);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
}

a {
  text-decoration: none;
}

.title{
  font-weight: 400;
  font-size: 1.6em;
  padding: 30px 50px;
}

/* HOMEPAGE */
.favoriteList {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 0 20px 0 20px;
  margin: 20px;
}

.favoriteList div {
  width: 20%;
  max-width: 60%;
  margin: 10px;
  flex: 1 1;
}


.flex-row {
  display: flex;
  flex-wrap: no-wrap;
  overflow-x: auto;
  margin-right: 20px;
}

.left-side {
  flex: 2 100%;
  border: 1px solid var(--mid-light);
  margin: 10px;
  padding: 10px;
}

/* END HOMEPAGE */

/* GAMELIST STYLE */
.gameList {
  flex: 1 20%;
  border: 1px solid var(--mid-light);
  margin: 10px;
  padding: 10px;
}

.gameList a {
  color: var(--darkest);
}

/* COMMENTS SECTION STYLE */
.discussion ul {
  padding-inline-start: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.comment {
  border: 1px solid var(--darkest);
  margin: 10px;
  padding: 10px;
  width: 90%;
  list-style: none;
  justify-self: center;
  text-align: left;
}

.textarea-wrapper {
  display: flex;
  justify-content: center;
}

#commentBody {
  margin: 25px;
  padding: 25px;
  width: 20em
}

.comment-body {
  margin: 5px 0 0 10px;
}

.favBtn{
  background: var(--darkest);
  color: var(--off-white);
  margin: 0 50px;
  border: 0 none;
  outline: 0 none;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
}


/* STORE */
.store-items{
  flex: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */ 
@media screen and (max-width: 900px) {
  .favoriteList {
    padding: 0px;
    margin: 0px;
  }
  
  .favoriteList div {
    margin: 10px;
    flex: 100%;
  }

  .left-side {
    width: 60%;
  }

  .gameList {
    margin: 10 0 0 0;
  }

  .gameList h3 {
    text-align: left;
  }

  .favoriteList {
    justify-content: center;
  }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER  */
@media screen and (max-width: 768px) {
  .favoriteList a {
    margin: 0;
    max-width: 100%;
  }

  .left-side p {
    padding: 0 25px;
  }

  .Game_game__75BEy {
    margin: 0;
    /* width: 90%; */
    margin: 0;
  }

}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
  .favoriteList a {
    margin: 0px;
  }

  .title {
    padding: 0;
    text-align: center;
  }

  .comment {
    font-size: smaller;
  }

  #commentBody {
    margin: 25px;
    padding: 25px;
    width: 20em
  }

  .textarea {
    resize: none;
    padding-top: 25px;
  }

  .discussion h3 {
    margin-block-start: 2em;
    margin-block-end: 0;
  }

  .discussion ul {
    margin-block-start: 0px;
  }


  .form-input {
    width:auto;
  }

  .left-side p {
    padding: 10px;
  }

  .gameList {
    text-align: center;
    /* margin: 0; */
  }

  .gameList ol {
    list-style: none;
    padding-inline-start: 0px;
  }

  .favBtn {
    margin-top: 5px;
  }

  .flex-row {
    flex-wrap: wrap;
    margin-right: 0px;
  }
} 