.game{
    max-width: 250px;
    margin: 10px;
    flex: 0 1;
    text-align: center;
    box-shadow: 0 0 5px var(--mid-dark);
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    transform: scale(1);
}

.game:hover{
    box-shadow: 0 0 8px var(--mid-dark);
    transform: scale(1.01);
}

.game img{
    max-height: 200px;
    object-fit: contain;
}

.gameTitle{
    display: block;
    font-size: 1.2em;
    margin: 20px 20px 2px 20px;
    font-weight: 500;
}

.gameDesc{
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    white-space: nowrap;
    margin: 0 20px 20px 20px;
    font-size: 0.8em;
}

@media screen and (max-width: 768px) {
    .game {
        flex: 1 1;
    }
}

@media screen and (max-width: 575px) {
    .game {
        flex: 90%;
    }
}
