.nav{
    background: var(--off-white);
    min-height: 80px;
    box-shadow: 0 0 10px var(--mid-dark);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--darkest);
    padding: 0 50px;
}

.logo{
    color: var(--darkest);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.3em;
}

.navMenu{
    display: inline;
}

.navMenuItem{
    list-style: none;
    display: inline;
    margin-right: 20px;
}

.navGreeting{
    display: inline;
    margin-left: 30px;
}

.navUsername{
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .nav {
        flex-wrap: wrap;
        justify-content: center;
        padding: 10px 5px;
    }

    .logo{
        flex: 100%;
        text-align: center;
        font-size: 1.5em;
    }

    .navMenu {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-inline-start: 0px;
    }

    .navMenu a {
        text-decoration: none;
    }
    
    .navGreeting{
        flex: 100%;
        text-align: center;
        padding-top: 20px;
        margin: 0;
    }
} 

@media screen and (max-width: 575px) {
    .logo{
        flex: 100%;
        text-align: center;
        font-size: 1.5em;
    }

    .navMenu {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-inline-start: 0px;
    }
} 