.cover{
    width: 70%;
    height: 400px;
    object-fit: cover;
}

.desc{
    margin: 0 50px;
}

.genre{
    font-weight: 500;
    margin: auto;
    background: var(--middle);
    height: 100%;
    color: var(--off-white);
    padding: 10px 20px;
    text-align: center;
    list-style: inside;
}   

.favBtn{
    background: var(--darkest);
    color: var(--off-white);
    margin: 0 50px;
    border: 0 none;
    outline: 0 none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
}