.form{
    margin: 50px;
    display: flex;
    flex-direction: column;
}

.form textarea{
    height: 80px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 0 none;
    outline: 0 none;
    box-shadow: 0 0 2px var(--mid-dark);
    padding: 20px;
}

.form button{
    height: 50px;
    background: var(--darkest);
    color: var(--off-white);
    border: 0 none;
    outline: 0 none;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 40px;
}

.link{
    margin: 0 50px;
    color: var(--middle);
    font-size: 0.8em;
}