.form{
    margin: 0 50px;
    display: flex;
    flex-direction: column;
    width:25%;
}

.FormControl{
    height: 45px;
    margin-bottom: 10px;
    padding: 0 20px;
    color: var(--darkest);
    background: var(--off-white);
}

.form button{
    height: 50px;
    background: var(--darkest);
    color: var(--off-white);
    cursor: pointer;
}

.link{
    margin-top: 40px;
    margin: 0 50px;
    color: var(--middle);
    font-size: 0.8em;
}